# Byte-compiled / optimized / DLL files
.coverage
.tox/
__pycache__/
*.py[cod]

# Userdata
tests/cdm/
tests/userdata/addon_settings.json
tests/userdata/addon_data/
tests/userdata/cdm/
tests/userdata/backup/
tests/userdata/tmp/

# Temporary
experiment/
*.zip

build/
dist/
lib/inputstreamhelper.egg-info/
