[MESSAGES CONTROL]
disable=
    bad-option-value,
    consider-using-f-string,
    duplicate-code,  # Integration tests tend to test similar things
    fixme,  # Allow FIXMEs in code is a useful practice
    import-outside-toplevel,  # Done on purpose to reduce overhead at startup
    line-too-long,  # Flake8 is used for testing line-length
    old-style-class,
    super-with-arguments,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-return-statements,
    unexpected-keyword-arg,
