[MESSAGES CONTROL]
disable=
    bad-option-value,
    duplicate-code,
    import-outside-toplevel,
    line-too-long,
    old-style-class,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-return-statements,
