name: CI
on:
  # Run action when pushed to master, or for commits in a pull request.
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    name: Add-on testing
    runs-on: ${{ matrix.os }}
    env:
      PYTHONIOENCODING: utf-8
      PYTHONPATH: ${{ github.workspace }}/lib:${{ github.workspace }}/tests
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ 2.7, 3.5, 3.6, 3.7, 3.8, 3.9 ]
    steps:
    - name: Check out ${{ github.sha }} from repository ${{ github.repository }}
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install gettext
        sudo pip install coverage --install-option="--install-scripts=/usr/bin"
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tox
      run: python -m tox -q -e flake8,py
    - name: Run pylint
      run: python -m pylint lib/ tests/
    - name: Compare translation strings
      run: make check-translations
    - name: Check for untranslated strings
      run: make check-untranslated
      continue-on-error: true
    # Python 2.7 and Python 3.5 are no longer supported by proxy.py
    - name: Start proxy server, when supported
      run: python -m proxy --threaded --hostname 127.0.0.1 --log-level DEBUG &
      if: matrix.python-version != '2.7' && matrix.python-version != '3.5'
    - name: Run unit tests
      run: coverage run -m unittest discover
    - name: Run addon using cli
      run: coverage run -a default.py
    - name: Upload code coverage to CodeCov
      uses: codecov/codecov-action@v1
      continue-on-error: true
    - name: Analyze with SonarCloud
      uses: SonarSource/sonarcloud-github-action@v1.4
      with:
        args: >
          -Dsonar.organization=emilsvennesson
          -Dsonar.projectKey=emilsvennesson_script.module.inputstreamhelper
          -Dsonar.sources=lib/
          -Dsonar.tests=tests/
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      continue-on-error: true
